<%- include('includes/head') %> <%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="display-1 text-center">Schedule</h1>
      <p class="text-center lead">Add, edit or create a new contact.</p>

      <% include('includes/messages') %>

      <div class="responsive-table">
        <table class="table my-3">
            <tr>
                <td>Marcelo</td>
                <td>Magalhães</td>
                <td>11948683746</td>
                <td>magalhaesdev@schedule.org</td>
            </tr>
            <tr>
                <td>Marcelo</td>
                <td>Magalhães</td>
                <td>11948683746</td>
                <td>magalhaesdev@schedule.org</td>
            </tr>
            <tr>
                <td>Marcelo</td>
                <td>Magalhães</td>
                <td>11948683746</td>
                <td>magalhaesdev@schedule.org</td>
            </tr>
        </table>
      </div>

    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
<%- include('includes/footer') %>
